/* color classes:

    dark mode:
    body: black
    bg-c: #2a2a2a
    fg-c: #575757
    text: #00C896
    extra: #f2ecff (border color)

    light mode:
    body: white
    bg-c: #575757
    fg-c: #f2ecff
    text: #2a2a2a
    extra: #00C896
*/

body {
    background-color: black;
    margin-top: 0;
}

.bg-c {
    background-color: #2a2a2a;
}

.fg-c {
    background-color: #575757;
}

.text {
    color: #f2ecff;
}

.extra {
    border: solid;
    border-color: #00c896;
}


/* -------- NAV BAR ---------- */
#sticky-bar {
    display: flex;
    position: sticky;
    margin-top: 0;
    top: 0; 
}

/* Every flex-item should be the same size with same spacing */
#sticky-bar > * {
    display: flex;
    height: 60px;
}

#sticky-bar > #left-group {
    margin: 5px auto 5px 5px;
}

#sticky-bar > #left-group > * {
    margin: 5px;
}

#sticky-bar > #right-group {
    margin: 5px 5px 5px auto;
}

#sticky-bar > #right-group > * {
    margin: 5px;
}

/* nav-icon on the nav bar */
#nav-icon {
    width: 50px;
}

#left-group > a {
    text-decoration: none;
}

/* nav-buttons */
#left-group > a > span {
    line-height: 50px;
    margin: 0 5px;
}

/* Links to my other socials: GitHub, LinkedIn */
#right-group > .socials {
   height: 50px;
   width: 50px;
}

#right-group >.socials > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* --------- SECTIONS ---------- */


/* --------- CONTACT SECTION ---- */

#contact-section {
    display: flex;
    width: 800px; 
    margin: 5px auto;
}

#contact-section > * {
    margin: 5px;
    height: 200px;
}


#contact-section > img { 
    min-width: 200px; /* necessary as items in flexbox may shrink */
    object-fit: cover;
}

#contact-section p {
    margin-left: 5px;
}

/* --------- PROJECTS SECTION -------- */

#projects-preamble {
    height: 50px;
    margin: 18px 0;
}

#projects-section {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
}

#projects-section > h1 {
    padding-left: 20px;
}


/* ---------- CARDS STYLING ------- */
.card {
    min-height: 200px;
    width: fit-content;
    display: flex;
    margin: 30px;
}

.card > * {
    margin: 5px;
}

.card > img {
    height: 300px;
    width: 500px;
    min-width: 300px;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
}

.caption {
    width: 300px;
    min-width: 300px;
}

.caption:hover {
    cursor: pointer;
}

.caption > * {
    padding: 0 5px;
}
