/* color classes:

    dark mode:
    body: black
    bg-c: #2a2a2a
    fg-c: #575757
    text: #00C896
    extra: #f2ecff (border color)

    light mode:
    body: white
    bg-c: #575757
    fg-c: #f2ecff
    text: #2a2a2a
    extra: #00C896
*/

body {
    background-color: black;
    margin-top: 0;
}

.bg-c {
    background-color: #2a2a2a;
    margin: 5px 0;
    min-width: 800px;
}

.fg-c {
    background-color: #575757;
}

.text {
    color: #f2ecff;
}

.extra {
    border: solid;
    border-color: #00c896;
}


/* -------- NAV BAR ---------- */
#sticky-bar {
    display: flex;
    position: sticky;
    margin-top: 0;
    top: 0; 
}

/* Every flex-item should be the same size with same spacing */
#sticky-bar > * {
    height: 50px;
    width: auto;
    margin: 5px 5px;  
}

/* nav-icon on the nav bar */
#nav-icon {
    width: 50px;
}

#sticky-bar > a > img {
    width: 100%;
    height: 100%;
}

#sticky-bar > a {
    text-decoration: none;
}

/* nav-buttons */
#sticky-bar > a > span {
    line-height: 50px;
    margin: 0 5px;
}

/* --------- SECTIONS ---------- */


/* --------- CONTACT SECTION ---- */

#contact-section {
    display: flex;
    max-width: 800px;
    margin: 0px auto;
}

#contact-section > img {
    margin: 5px;
    height: 200px;
    width: 200px;
    min-width: 200px;
    object-fit: cover;
}

#contact-section > #brief {
    margin: 5px;
    height: 200px;
    width: 100%;
}

#contact-section p {
    margin-left: 5px;
}

#contact-section #brief-desc { 
    max-width: 600px;
}

/* --------- PROJECTS SECTION -------- */

#projects-preamble {
    height: 50px;
    margin: 18px 0;
}

#projects-section {
    height: 2000px;
}

#recipehub-card {
    width: fit-content;
    display: flex;
    margin: 0 auto;
}


#recipehub-card > * {
    margin: 5px;
}

#recipehub-card > img {
    height: 300px;
    width: 500px;
    min-width: 300px;
    margin: auto 0;
}

#recipehub-caption {
    width: 300px;
    min-width: 300px;
}

#recipehub-caption:hover {
    cursor: pointer;
}

#recipehub-caption > * {
    padding: 0 5px;
}
